{% extends "base.html" %}
{% from 'company/_soa_macros.html' import render_soa_sidebar %}
{% from 'company/_soa_form_macros.html' import render_soa_form %}

{% block title %}{{ form_title }}{% endblock %}

{% block sidebar %}
    {{ render_soa_sidebar('accounts_payable', navigation_state) }}
{% endblock %}

{% from 'company/_form_macros.html' import soa_form_card %}
{% block content %}
{% call soa_form_card(form, title=form_title, cancel_url=url_for('company.statement_of_accounts', page='accounts_payable'), cancel_label='キャンセル', form_attrs='novalidate class="ui-ctrl-44"') %}
  {{ render_soa_form(form, form_fields) }}
{% endcall %}
{% endblock %}
