{% extends "base.html" %}
{% from 'company/_form_helpers.html' import render_field, render_checkbox_field %}

{% block title %}{{ form_title }}{% endblock %}

{% block sidebar %}
    {# ... sidebar content from statement_of_accounts.html ... #}
{% endblock %}

{% from 'company/_form_macros.html' import soa_form_card %}
{% block content %}
{% call soa_form_card(form, title=form_title, cancel_url=url_for('company.statement_of_accounts', page='borrowings'), cancel_label='キャンセル', form_attrs='novalidate') %}
  {{ render_field(form.lender_name) }}
  {{ render_checkbox_field(form.is_subsidiary) }}
  {{ render_field(form.balance_at_eoy) }}
  {{ render_field(form.interest_rate) }}
  {{ render_field(form.paid_interest) }}
  {{ render_field(form.remarks, rows=3) }}
{% endcall %}
{% endblock %}
