<!-- app/templates/company/declaration_form.html -->
{% extends "base.html" %}
{% from 'company/_form_helpers.html' import render_field, render_radio_field, render_checkbox_field %}

{% block title %}申告情報{% endblock %}

{% block sidebar %}
    {% include 'company/_wizard_sidebar.html' %}
{% endblock %}

{% block content %}
<h1 class="content-title">申告情報</h1>
<p class="content-subtitle">申告の対象となる事業年度の情報を入力し、保存してください。</p>

<div class="card">
    <form action="{{ url_for('company.declaration') }}" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="form-grid">
            

            <!-- 代表者 -->
            <fieldset>
                <legend>代表者</legend>
                {{ render_field(form.representative_name, placeholder='代表 太郎', autofocus=True) }}
                {{ render_field(form.representative_kana, placeholder='ダイヒョウ タロウ') }}
                {{ render_field(form.representative_position, placeholder='代表取締役') }}
                {{ render_field(form.representative_status, placeholder='現任') }}
                {{ render_field(form.representative_zip_code, id='representative_zip_code', placeholder='1000001') }}
                {{ render_field(form.representative_prefecture, id='representative_prefecture', placeholder='東京都') }}
                {{ render_field(form.representative_city, id='representative_city', placeholder='千代田区') }}
                {{ render_field(form.representative_address, id='representative_address', placeholder='丸の内1-1-1') }}
            </fieldset><!-- 基本情報 -->
            <fieldset>
                <legend>基本情報</legend>
                {{ render_field(form.accounting_period_start, class_='js-date') }}
                {{ render_field(form.accounting_period_end, class_='js-date') }}
                {{ render_radio_field(form.office_count) }}
                {{ render_radio_field(form.declaration_type) }}
                {{ render_radio_field(form.tax_system) }}
            </fieldset>

            <!-- 経理責任者 -->
            <fieldset>
                <legend>経理責任者</legend>
                {{ render_field(form.accounting_manager_name, placeholder='経理 花子') }}
                {{ render_field(form.accounting_manager_kana, placeholder='ケイリ ハナコ') }}
            </fieldset>

            <!-- 決算・申告期限 -->
            <fieldset>
                <legend>決算・申告</legend>
                {{ render_field(form.closing_date, class_='js-date') }}
                {{ render_checkbox_field(form.is_corp_tax_extended) }}
                {{ render_checkbox_field(form.is_biz_tax_extended) }}
                {{ render_field(form.employee_count_at_eoy, placeholder='10') }}
            </fieldset>

            <!-- 税理士 -->
            <fieldset>
                <legend>税理士</legend>
                {{ render_field(form.tax_accountant_name, placeholder='税理 士郎') }}
                {{ render_field(form.tax_accountant_phone, placeholder='03-1234-5678') }}
                {{ render_field(form.tax_accountant_zip, id='tax_accountant_zip', placeholder='1000002') }}
                {{ render_field(form.tax_accountant_prefecture, id='tax_accountant_prefecture', placeholder='東京都') }}
                {{ render_field(form.tax_accountant_city, id='tax_accountant_city', placeholder='中央区') }}
                {{ render_field(form.tax_accountant_address, id='tax_accountant_address', placeholder='銀座1-2-3') }}
            </fieldset>

            <!-- 還付金受取口座 -->
            <fieldset>
                <legend>還付金受取口座</legend>
                {{ render_field(form.refund_bank_name, placeholder='みずほ銀行') }}
                {{ render_field(form.refund_branch_name, placeholder='本店') }}
                {{ render_field(form.refund_account_type, placeholder='普通') }}
                {{ render_field(form.refund_account_number, placeholder='1234567') }}
            </fieldset>
        </div>

        <div class="form-actions">
            {{ form.submit(class="button-primary") }}
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
    {{ super() if super }}
    <script src="{{ url_for('static', filename='js/address_autofill.js') }}?v=2.0"></script>
{% endblock %}
