{% extends "base.html" %}
{% from 'company/_soa_macros.html' import render_soa_sidebar %}
{% from 'company/_soa_form_macros.html' import render_soa_form %}

{# ページのタイトルを設定 #}
{% block title %}{{ form_title }} - 勘定科目内訳書{% endblock %}

{# このページ専用のCSSを読み込む（古いform_view.cssは不要に） #}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/statement_of_accounts.css') }}">
{% endblock %}

{# サイドバーは勘定科目内訳書画面のものをそのまま利用 #}
{% block sidebar %}
    {{ render_soa_sidebar('deposits', navigation_state) }}
{% endblock %}


{# メインコンテンツ部分を定義 #}
{% from 'company/_form_macros.html' import soa_form_card %}
{% block content %}
{% set deposit_fields = [
    {'name': 'financial_institution', 'placeholder': '例：〇〇銀行', 'autofocus': True},
    {'name': 'branch_name', 'placeholder': '例：本店'},
    {'name': 'account_type'},
    {'name': 'account_number', 'placeholder': '例：1234567'},
    {'name': 'balance', 'type': 'number', 'placeholder': '例：1000000'},
    {'name': 'remarks', 'placeholder': '摘要を入力（任意）'},
] %}
{% call soa_form_card(form, title=form_title, cancel_url=url_for('company.statement_of_accounts', page='deposits'), cancel_label='戻る', form_attrs='class="ui-ctrl-44"') %}
  {{ render_soa_form(form, deposit_fields) }}
{% endcall %}
{% endblock %}
