{% extends "base.html" %}
{% from 'company/_form_helpers.html' import render_field, render_radio_field %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/register_shareholder.css') }}">
{% endblock %}

{% block title %}主たる{{ page_title }}の編集{% endblock %}

{% block sidebar %}
    {% include 'company/_wizard_sidebar.html' %}
{% endblock %}

{% block content %}
<h1 class="content-title">主たる{{ page_title }}の編集</h1>
<p class="content-subtitle">{{ shareholder.last_name }} 様の情報を編集します。</p>

<div class="card">
    <form method=\"post\" novalidate class=\"ui-ctrl-44\">
        {{ form.hidden_tag() }}
        <div class="form-grid">
            <fieldset>
                <legend>株主情報</legend>
                {{ render_field(form.last_name) }}
                {{ render_radio_field(form.entity_type) }}
                {{ render_field(form.officer_position) }}
                {{ render_field(form.zip_code) }}
                {{ render_field(form.prefecture_city) }}
                {{ render_field(form.address) }}
            </fieldset>

            <fieldset>
                <legend>持株情報</legend>
                {{ render_field(form.investment_amount) }}
                {{ render_field(form.shares_held) }}
                {{ render_field(form.voting_rights) }}
            </fieldset>
        </div>

        <div class="form-actions">
            {{ form.submit(class="button-primary", value="更新する") }}
            <a href="{{ url_for('company.shareholders') }}" class="button-secondary">キャンセル</a>
        </div>
    </form>
</div>
{% endblock %}