{% extends "base.html" %}
{% from 'company/_form_helpers.html' import render_field %}

{% block title %}{{ form_title }}{% endblock %}

{% block sidebar %}
    {# ... sidebar content from statement_of_accounts.html ... #}
{% endblock %}

{% from 'company/_form_macros.html' import soa_form_card %}
{% block content %}
{% call soa_form_card(form, title=form_title, cancel_url=url_for('company.statement_of_accounts', page='executive_compensations'), cancel_label='キャンセル', form_attrs='novalidate') %}
  {{ render_field(form.shareholder_name) }}
  {{ render_field(form.relationship) }}
  {{ render_field(form.position) }}
  {{ render_field(form.base_salary) }}
  {{ render_field(form.other_allowances) }}
  {{ render_field(form.total_compensation) }}
{% endcall %}
{% endblock %}
