{% extends "base.html" %}
{% from 'company/_form_helpers.html' import render_field %}

{% block title %}{{ form_title }}{% endblock %}

{% block sidebar %}
    {# ... sidebar content from statement_of_accounts.html ... #}
{% endblock %}

{% from 'company/_form_macros.html' import soa_form_card %}
{% block content %}
{% call soa_form_card(form, title=form_title, cancel_url=url_for('company.statement_of_accounts', page='fixed_assets'), cancel_label='キャンセル', form_attrs='novalidate class="ui-ctrl-44"') %}
  {{ render_field(form.asset_type) }}
  {{ render_field(form.location) }}
  {{ render_field(form.area) }}
  {{ render_field(form.balance_at_eoy) }}
  {{ render_field(form.remarks) }}
{% endcall %}
{% endblock %}
