{% extends "base.html" %}
{% from 'company/_form_helpers.html' import render_field %}
{% from 'company/_soa_macros.html' import render_soa_sidebar %}

{% block title %}{{ form_title }}{% endblock %}

{% block sidebar %}
    {{ render_soa_sidebar('land_rents', navigation_state) }}
{% endblock %}

{% from 'company/_form_macros.html' import soa_form_card %}
{% block content %}
{% call soa_form_card(form, title=form_title, cancel_url=url_for('company.statement_of_accounts', page='land_rents'), cancel_label='キャンセル', form_attrs='novalidate class="ui-ctrl-44"') %}
  {{ render_field(form.account_name, autofocus=True, placeholder="例：地代") }}
  {{ render_field(form.lessor_name, placeholder="例：〇〇不動産") }}
  {{ render_field(form.property_details, placeholder="例：東京都港区六本木6-10-1") }}
  {{ render_field(form.rent_paid, placeholder="例：200000") }}
  {{ render_field(form.remarks, placeholder="例：本店オフィス賃料") }}
{% endcall %}
{% endblock %}
