{% extends "base.html" %}
{% from 'company/_form_helpers.html' import render_field %}

{% block title %}ログイン{% endblock %}

{% block content %}
<div class="form-container-center">
    <h2>ログイン</h2>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ render_field(form.username, placeholder='ユーザー名') }}
        {{ render_field(form.password, placeholder='パスワード') }}
        {{ render_field(form.remember_me) }}
        <div class="form-actions">
            {{ form.submit(class="button-primary") }}
        </div>
    </form>
</div>
{% endblock %}
