{% extends "base.html" %}
{% from 'company/_form_helpers.html' import render_field %}
{% from 'company/_soa_macros.html' import render_soa_sidebar %}

{% block title %}{{ form_title }}{% endblock %}

{% set current_page_key = request.view_args.get('page_key', request.args.get('page', 'misc_income')) %}

{% block sidebar %}
    {{ render_soa_sidebar(current_page_key, navigation_state) }}
{% endblock %}

{% from 'company/_form_macros.html' import soa_form_card %}
{% block content %}
{% call soa_form_card(form, title=form_title, cancel_url=url_for('company.statement_of_accounts', page=current_page_key), cancel_label='キャンセル', form_attrs='novalidate class="ui-ctrl-44"') %}
  {{ render_field(form.account_name) }}
  {{ render_field(form.details) }}
  {{ render_field(form.amount) }}
  {{ render_field(form.remarks) }}
{% endcall %}
{% endblock %}
