{% extends "base.html" %}
{% from 'company/_form_helpers.html' import render_field, render_date_field %}
{% from 'company/_soa_macros.html' import render_soa_sidebar %}

{# ページのタイトルを設定 #}
{% block title %}{{ form_title }} - 勘定科目内訳書{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/statement_of_accounts.css') }}">
{% endblock %}

{# 古いform_view.cssは不要になったので削除 #}

{# サイドバーは勘定科目内訳書画面と同じものを表示 #}
{% block sidebar %}
    {{ render_soa_sidebar('notes_receivable', navigation_state) }}
{% endblock %}

{# メインコンテンツ部分を定義 #}
{% from 'company/_form_macros.html' import soa_form_card %}
{% block content %}
{% call soa_form_card(form, title=form_title, cancel_url=url_for('company.statement_of_accounts', page='notes_receivable'), cancel_label='キャンセル', form_attrs='class="ui-ctrl-44"') %}
  {{ render_field(form.registration_number, autofocus=True, placeholder="例：1234567890123") }}
  {{ render_field(form.drawer, placeholder="例：株式会社 〇〇商事") }}
  {{ render_date_field(form.issue_date, placeholder="例：2025年04月01日") }}
  {{ render_date_field(form.due_date, placeholder="例：2025年05月31日") }}
  {{ render_field(form.payer_bank, placeholder="例：〇〇銀行") }}
  {{ render_field(form.payer_branch, placeholder="例：本店") }}
  {{ render_field(form.amount, type="number", placeholder="例：1000000") }}
  {{ render_field(form.discount_bank, placeholder="（割引した場合）") }}
  {{ render_field(form.discount_branch, placeholder="（割引した場合）") }}
  {{ render_field(form.remarks, placeholder="例：売掛金の回収分") }}
{% endcall %}
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
